@charset "utf-8";
/* CSS Document */
.chitiethd{
	width: 580px;
    height: auto;
    float: left;
    margin-left: 10px;
}
.chitiethd h2{
	background:#19B3D3;
    text-align: center;
    padding-top: 7px;
    font-size: 16px;
    height: 30px;
    color: white;
    text-transform: uppercase;
}
.chitiethd h3{
	background:#19B3D3;
    text-align: center;
    padding-top: 7px;
    font-size: 16px;
    height: 30px;
    color: white;
    text-transform: uppercase;
}
.chitiethd{
	width: 580px;
    height: auto;
    float: left;
    padding-bottom: 30px;
    margin-top: -22px;
    margin-bottom: 20px;
}
.hd table{
	text-align: center;
	float: left;
    width: 100%;
    height: auto;
	border-collapse: collapse;
}
.hd table tr td{
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #19B3D3;
	
}
.hoadon table.table{
	text-align: center;
	width: 580px;
	border: 1px solid #19B3D3;
	
}
